/.web-server-pid
/app/config/parameters.yml
/build/
/web/bundles/
/web/build/
/dev_notes.md
/.bash_history
/.cache/
/.composer/
/.idea/
/.yarnrc
/node_modules/
/.env


###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/public/build/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###