<!DOCTYPE html>

<title>New PlayerChamp</title>

{% block body %}
    <h1>Create new PlayerChamp</h1>

    {{ include('player_champ/_form.html.twig') }}

    <a href="{{ path('player_champ_index') }}">back to list</a>
{% endblock %}
