<!DOCTYPE html>

<title>New GuildChamp</title>

{% block body %}
    <h1>Create new GuildChamp</h1>

    {{ include('guild_champ/_form.html.twig') }}

    <a href="{{ path('guild_champ_index') }}">back to list</a>
{% endblock %}
