{% extends 'base_form_window.html.twig' %}

{% block body %}
    <h1>Edit Guild</h1>

    {{ include('guild/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('guild_index') }}">back to list</a>

    {{ include('guild/_delete_form.html.twig') }}
{% endblock %}
